{
  "folders": [
    {% for repo_name, repo_data in repos.items() %}
      {
        "path": "{{ pwd }}/{{ repo_name }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "settings": {}
}